<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>
	WSBASampleWeb</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		BasicScenarioServlet</display-name>
		<servlet-name>BasicScenarioServlet</servlet-name>
		<servlet-class>
		com.ibm.ws.wsba.servlets.BasicScenarioServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		IntermediateScenarioServlet</display-name>
		<servlet-name>IntermediateScenarioServlet</servlet-name>
		<servlet-class>
		com.ibm.ws.wsba.servlets.IntermediateScenarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BasicScenarioServlet</servlet-name>
		<url-pattern>/BasicScenarioServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IntermediateScenarioServlet</servlet-name>
		<url-pattern>/IntermediateScenarioServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ws.wsba.servlets.BasicScenarioServlet/travelAgent</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.websphere.wsba.sample.TravelAgentLocal</local>
        <injection-target>
            <injection-target-class>com.ibm.ws.wsba.servlets.BasicScenarioServlet</injection-target-class>
            <injection-target-name>travelAgent</injection-target-name>
        </injection-target>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ws.wsba.servlets.IntermediateScenarioServlet/travelAgent</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.websphere.wsba.sample.TravelAgentLocal</local>
        <injection-target>
            <injection-target-class>com.ibm.ws.wsba.servlets.IntermediateScenarioServlet</injection-target-class>
            <injection-target-name>travelAgent</injection-target-name>
        </injection-target>
    </ejb-local-ref>
	<resource-ref id="ResourceRef_1146045716421">
		<description>
		</description>
		<res-ref-name>WSBASampleDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>
